<h1>New game</h1>

<%= form_tag '/games/new_game', :method => 'post' do%>
  <div class="field">
    <%= label :player1_name, "Player 1 Name" %>
    <%= text_field_tag :player1_name %>
  </div>
  <div class="field">
    <%= label :player2_name, "Player 2 Name" %>
    <%= text_field_tag :player2_name %>
  </div>
  <div class="field">
    <%= label :player3_name, "Player 3 Name" %>
    <%= text_field_tag :player3_name %>
  </div>
  <div class="field">
    <%= label :player4_name, "Player 4 Name" %>
    <%= text_field_tag :player4_name %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to 'Back', games_path %>
